html {
  background-color: lightgoldenrodyellow; 
}
:root {
--width-main: 90vw;
}
h1, h2, h3 {
    margin: 0;
}
.icon {
    color: white;
    float: right;
    font-size: 35px;
    padding: 5px;
    margin-top: 2px;
    background-color:  cornflowerblue;
}
a {   
    background-image: none;
    text-decoration: none;
    text-shadow: none;
    font-weight: 300;
}
.items .brand {
    text-transform: uppercase;
    font-size: 20px;
}
input[type=button] {   
    border: none;
    outline: none;
    height: 55px;
    font-size: 20px;
    padding: 5px;
    color: #fff;   
    background: linear-gradient(to top, lime, lightgreen);
}
input[type=button]:hover {
    background: linear-gradient(to top, lime, lime);
}  

input[type=checkbox] {   
    width: 20px;
    height: 20px;   
    float: left;
    margin: 0 1% 0 0;
}
.order {
    border: 1px solid #ccc;
    padding: 5px;
}
.order:first-of-type {
    margin-top: 50px;
}
.string a:hover {
    border-bottom: 1px solid #ccc;
   
}
.main_block,
.div_item {
    width: var(--width-main);
    margin: 0 auto;
    text-align: center;
}
.img_min {    
    height: 100px;
    margin: 10px;   
}
.header {   
    text-align: left;
    height: 49px;
    padding: 0 15px;
    position: relative;
    background-color: cornflowerblue;
}

.shopIcon {
    display: inline-block ;
    width: 35%;
    vertical-align: top;    
    text-decoration: none;
} 
.footer {    
    width: 100%;
    color: yellow;
    z-index: -10;    
    margin:  0;
    background-color: cornflowerblue;
    padding-bottom: 10px; 
}
.footer p {
    font-size: 18px;  
}
label {
    cursor: pointer;
    position: relative;
    padding: 5px;
}
select, option {
    border: none;
    outline: none;
    background-color: yellow;
    color: blue;
}


label:hover:after {
    display: inline;
}
.color {
    display: none;
}
input {
    cursor: pointer;    
    color: #000;
}
input:focus {
    background-color: rgb(255, 255, 139);
    border: 1px solid corflnowerblue;
    outline: none;
}   
.class_input_two {
    background-color: red;
    border: 2px solid  cornflowerblue;
}
.main_Menu_link {    
    width: 16.666%;
    height: 50px;
    box-sizing: border-box; 
    text-decoration: none;
    font: 300 22px/50px 'Verdana', sans-serif;
    display: inline-block;   
    text-shadow: none;
    border-bottom: none;
    background-image: none;
    background-color:  chartreuse;
    color:  cornflowerblue; 
}

.main_Menu_link:hover {
   box-shadow: inset 0 0 12px 25px rgb(55, 240, 55);
}
.main_Menu_link:hover:active {
    box-shadow: none;
 }



img  {
    display: inline-block;
    vertical-align: middle;
}
.items {
    margin: 5px 0;
    text-align: center;  
}
.items:hover {
    background-color:  rgb(253, 253, 185);
}
.items span {
    width: 15%;   
    font: 300 18px/18px 'Arial', sans-serif;
    vertical-align: middle;
    white-space: break-spaces;
}

.quantBag {
    margin: -10px -40px 0 0;
    color: red;
    width: 1.5%;
    padding: 0 5px;
    text-align: center;
    border-radius: 15px;
    background-color: lawngreen;
    float: right;
    font: 600 16px/20px 'Arial', sans-serif;  
    display: block;
}
.sort {   
    width: fit-content;    
    font-size: 18px;
    margin-right: 2vw;
}
.sort select {
    border: 1px solid #ccc;
    padding: 5px;
}
.span_image:hover {
    border: 1px solid red;   
}
.img_div {
    display: inline-block;
    margin: 10px;
    width: auto;
}
h4 {
    margin: 0;
}
b {
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
.items span {
    color: #000;
    font-size: 1em;
    display: inline-block;   
    text-align: center;   
    margin: 0;
}
.cost {
    cursor: pointer;
    text-align: center;
    width: 15%;
    font-size: 23px;
    display: inline-block;   
}
img {
    margin: -5px 0 0;
    cursor: pointer;
    padding: 5px;
}
/* .img_main_link:hover {
   text-decoration: underline;   
} */
.img_brand {   
    height: 25vw;
    background-size: cover;   
    width: 33.33%;   
    display: inline-block;
    transition: all 0.5s;
    text-shadow: none;
}   
.img_brand a {
    background-color: crimson;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;   
    color: #fff;
    font:  300 1.5vw/29vw "Times new roman", sans;
}
.img_brand:hover a {
    opacity: 1;
    transition: all 0.5s;
    border: 1px solid blue;
}

.div_image {
    text-align: left;
    width: 63vw;
    display: inline-block;
    margin: 0;    
}
.div_phone {
    height: auto; 
    padding: 0 1vw;  
    background-color: #fff;
}
.div_menu {
    height: auto;
    padding: 0;
    margin: 0; 
  
}
.delivery_main_link {    
    color: #000;
    width: 49%;
    display: inline-block;
    text-shadow: none;
}
.delivery_main_link:hover {
    text-decoration: underline;
    font-weight: 600;
}
.two {
    text-align: right;
}
.delivery_name {
    margin: 30px  2vw 0 0;
    width: 58vw;   
    background-color: lavender;
   
    float: left;
}
.delivery_name label {
    width: 30%;
    font-size: 1.2vw;
    text-align: right;
    font-weight: 600;
    margin-right: 10px;
    display: inline-block;
}    
.delivery_name:before {
    content : "LAST STEP: DELIVERY OPTIONS";
   
    padding: 10px 20px;
    font: 600 20px/20px 'Verdana', san-serif;

    margin: -10px 0 30px;
    background-color: thistle;
    display: block;       
}
.delivery_name p {
   
    margin: 10px auto;
    font-weight: 600;
   
}
.div_delivery {
    height: auto;
    width: 29%;
    padding: 0;
    margin: 0 0 20px 10px;
    display: inline-block;
    background-color: lavender;
    vertical-align: top;
    position: relative; 
    text-align: left;  
   
}
.div_delivery p {
    text-align: right; 
    font-size: 15px;
}
.div_delivery:before {
    content: "ORDER SUMMARY";   
    font-weight: 600;   
    padding: 8px;   
    background-color: cornflowerblue;
    position: absolute;
    width: 96%;
    top: -35px;
}
.admin {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.orders {
    width: 100%;
    margin: 120px auto;
    position: relative;    
}
.orders p {
    padding-left: 20px;
    font: 300 18px/24px 'Arial',sans-serif;
}
.orders:before {
    content: "YOUR ORDERS LAST FOUR MOUNTH";
    font: 300 24px/24px 'Verdana',sans-serif;
   
    
    display: block;
    padding: 3px;
    left: 0;
    text-align: left;
    position: absolute;
    width: 100%;
    top: -80px;
}
.go_to_account {
    margin: 10vh auto;
    position: relative;
    width: 30vw;
    background-color: #fff;
    padding: 20px;    
}
.go_to_account:before {
    content: "ENTER TO ACCOUNT ";
    
    font: 600 23px/5px 'Arial', sans-serif;
   
   left: 0;
   
   
    text-align: left;
    position: absolute;
   
    top: -40px;
}
.div_bag_menu {   
    margin-top: 50px;
    background-color: lavender;
    font-size: 20px;
   
    text-align: justify;
    font-weight: 600;
    width: 70%;
    position: relative;  
}
.div_bag_menu span,
.div_bag_item span {
    width: 15%;
    display: inline-block;
    text-align: center;
}
.div_bag_menu:before {
    content: "YOUR BAG";
    font-size: 23px;
    position: absolute;
    top: -30px;
}
.div_content {
    width: 25vw;
    vertical-align: top;
    height: 60%;
    text-align: left;
    display: inline-block;
       
}
.div_content h3 {
    text-transform: capitalize;
    font-size: 30px;
}
.div_content h2 b {
   
    font-size: 30px;
}
.div_content h2 b,h3,p,span, p b {
    margin: 15px 0;
    color: #000;
    font-size: 20px;
}
.div_content p:first-of-type {
    text-transform: capitalize;
}
.div_content dd {
    margin: 5px 10px;
    font-size: 16px;

}
.div_content dd:first-of-type {
    font: 600 17px/30px 'Arial',sans-serif;
    text-transform: capitalize;
}
.div_content dt {
    margin: 20px 0;
    padding-top: 20px;
    border-top: 1px solid #000;
    font: 400 20px/20px 'Arial',sans-serif;
}
.div_item {
    position: fixed;
    z-index: 15;
    width: 90vw;
    text-align: left;
    height: 100vh;
    background-color: #fff;   
    top: 0;    
}
.div_bag_item {
   float: left;    
    text-align: justify;
    margin: 10px 0;
    
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 70%
}
.div_bag_item img {
    width: 30px;
    height: 30px;
    margin-left: -10px; 
}
.div_bag_item h1 {
    display: none;    
}
.div_big_image {
    margin: 0;   
    width: 45vw;
    height: 40vw;
    display: inline-block;

    background-position: center;    
    background-repeat: no-repeat;
   
}
.div_small_image {
    
    display: block;
    width: 10vw;
    height: 100px;    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 10vh 0 0;
}
.div_small_image:hover {
    border-bottom: 2px solid #000;
}
.string {
    text-align: left;
    color: red;   
    font:  400 18px/50px 'Arial', sans-serif;
    padding-left: 20px;
}
.string b {
    margin-left: 10px;
    width: auto;
    color: #000;
}
.to_main {
    width: 80px;
    margin: 10px;
    display: inline-block;
    height: 80px;
    border-radius: 50px;
    border: 1px solid #fff;
    vertical-align: middle;  
    background: url('https://www.datocms-assets.com/28552/1590394654-image.jpg') center/100% no-repeat;
}
.locations {
    margin-top: -10px;
    height: 50px;
    float: left;
    vertical-align: top;
}
.to_main:hover {
    background: url('https://www.datocms-assets.com/28552/1590394654-image.jpg') center/100% no-repeat;
    border: 1px solid #ddd;
}

@media screen and (max-width: 1000px) {
    div.menu_items {
        display: none;
    }
    .admin {
        width: 100%;
    }
    .main_block {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .menu .link {
        font-size: 18px;
        padding: 1em 0;
    }
    .menu .link,
    .main_Menu_link {
        padding: 0.5em 0;   
        width: 33.33%;
        height: auto;
        float: left;
        text-align: center;   
        font: 400 22px/16px 'Verdana', sans-serif;    
    }
    .main_Menu_link:hover {
        color: red;
        font: 400 22px/16px 'Verdana', sans-serif;  
    }
   
    .div_bag_menu {       
        width: 100%;
        margin-top: 150px;
    }
    .div_bag_item {       
        width: 100%;
              
    }
    .div_delivery {
        width: 100%;
        margin: 40px auto 10px;
    }
    .delivery_name label {
        width: 12vw;
        margin-left: 10px;
    }
    .div_item {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        left: 0;
        top: 0%;    
    }
   .div_image {
        text-align: left;
        width: 100vw;
            display: inline-block;
            margin: 0;    
    }
    .div_big_image {         
      
        width: 70vw;        
        background-position: center;    
        background-repeat: no-repeat;
    }
    .div_small_image {
        width: 20vw;
        height: 10vh;
       
    }
    .go_to_account, .orders {
        margin: 170px auto 0;
       
    }
    .go_to_account:before {
        font-size: 16px;
    }
  
    .div_content,
    .div_description {
        width: 95vw;
        font-size: 18px;
        padding: 10px 20px ;
        height: fit-content;
        white-space: break-spaces;
       
    }
    .delivery_name {       
        
        width: 100%;       
    }
    .img_main_link b{      
       display: none;
    }
    html {
        font: 100%/1 'Quattrocento Sans',sans-serif;
    }
    
}
@media screen and (max-width: 660px) {
    .delivery_name label {
        font-size: 3vw;
        width: 30%;
        
    }
    .div_item * ,
    .div_content dd,
   
    .div_content dt,
    .div_content dd:first-of-type {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .div_content {
        display: block;
        margin: 0 auto;
        width: 95vw;
        padding: 5px;
    }
    input[type=button] {
        font-size: 4vw;
        width: 70%;
    }    
    .go_to_account, .orders {
        margin: 200px 0 0;
    }
    .go_to_account {
        width: 95%;
    }
    .div_delivery {
        width: 100%;
        margin: 40px auto 10px;
    }
    .delivery_name {       
       
        width: 100%;       
    }
    
    .icon {
        display: inline-block ;
        width: auto;
        vertical-align: middle;        
        text-decoration: none;
    }
    .menu .link,
    .main_Menu_link {
        padding: 0.5em 0;   
        width: 50%;
        height: auto;
        float: left;
        text-align: center;   
        font: 400 22px/16px 'Verdana', sans-serif;    
    }
    .items {
        margin: 0.5%;
        text-align: center;       
        width: 48%;
        display: inline-block;
        white-space: nowrap;    
    }
    .items > span, .cost {
        display: block;       
        width: 100%;
       
    } 
    span.size {
        height: 70px;
    }
    
}
